/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*-------------------------------------------------------------------------------------------------------------my code*/

/* ------------------ general */

/*button styling*/
.subb, .signb1, .signupb {
    cursor: pointer;
    border: white 2px solid;
    background-color: transparent;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
}



h1, h2, h3 {
    color:white;
}


* {
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
}

html {
    background-image:url(img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body {
    
    /*background-color: #1A1A1D; */
    color: #595959;
}

.wrapper, .wrappera {
    /*background-color: #1A1A1D;*/
}


@media only screen and (min-width: 768px) {
    .wrappera, .wrapper {
        font-family: 'Catamaran', serif;
        margin: 0 100px;
        text-align: center;
        padding: 36px 15px;
        color: #595959;
    }

    .body {
        
    }
}

/*header*/

 header {
    background: linear-gradient(#1A1A1D, transparent);
    width:100%;
    height: 100px;
    position: fixed; 
 }


.header-brand {
    display: table;
    margin: 0 auto;
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding: 20px 0;
}

.header-donate {
    display: none;
}

 header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
    position: sticky;
    top: 0;
 }

  header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
 }

  header nav ul li a {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    color: white;  
 }


@media only screen and (min-width: 1000px) {
    header .header-brand {
        display: block;
        margin: 31px 0 ;
        text-align: left;
        line-height: 38px;
        padding: 0 20px 0px 40px;
        border-right: 3px solid white;
        float: left;
    }
    header nav ul {
        margin: 20px 0 20px 20px;
        float: left;
    }

    header nav ul li a {
        line-height: 60px;  
    }
    header nav ul li a:hover {
        border-bottom: white 1px solid;
    }
    header .header-donate {
        display: block;
        font-family: 'Catamaran', sans-serif;
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        line-height: 50px;
        border: 2px solid white;
        float: right;
        margin-top: 22px;
        margin-right: 40px;
        padding: 0 20px;
    }
}

 /* footer */

footer {
    width:calc(100%-20px);
    padding: 10px 10px;
    background-color: #111;
    margin-top: 0px;
    overflow:hidden;
}

footer ul {
    width: content;
    float: left;
    padding-left: 20px;
    color: white;
    font-size: 24px;
    padding-top: 20px;
}

footer ul li{
    display: block;
    list-style: none;
}

footer ul li a{
    font-family: 'Catamaran', sans-serif;
    color: white;
    line-height: 30px;  
}


@media only screen and (min-width: 1000px) {
    .footer-links-menu {
        margin-right: calc(100% - 500px)
    }

    .contact-foot {
        border-left: 2px solid white;
        margin-top: 20px;
    }

}

 /* Index */

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(img/covanicav.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}


.index-banner h2 {
    font-family: 'Catamaran', sans-serif;
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    line-height: 70px;
}

.index-banner h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 28px;
    color: #fff;
    line-height: 40px;
    font-style: italic;
    text-align: center;
    font-weight: 100;
}
 
 @media only screen and (min-width: 1000px) {
    .index-banner {
        height: 450px;
    }
    .index-banner h1 {
        display: block;
        width: 560px;
        margin: 0 auto;
    }
 }

 /*Index Contact */

.cont, .formcomp {
    margin-top: 100px;
    margin-bottom: 90px;
    display:flex;
    flex-direction: column;
} 


    
.fname, .lname, .email, .subj, .txta, .NOPC, .EOPC, .EOPGC {
    margin-bottom: 50px;
    display: block;
    width: 200px;
    height: 2vh;
    padding-left: 100px;
    padding: 8px;
    border:hidden;
    border-bottom: solid 2px gray;
    align-items: center;
    color: #9c9c9c;
    background-color: transparent;
}

.fname::placeholder, .lname::placeholder, .email::placeholder, .subj::placeholder, .txta::placeholder, .NOPC::placeholder, .EOPC::placeholder, .EOPGC::placeholder {
    color: #9c9c9c;
}

.fname:hover, .lname:hover, .email:hover, .subj:hover, .txta:hover, .NOPC:hover, .EOPC:hover, .EOPGC:hover {
    width: 300px;
}

@media only screen and (min-width: 768px) {
    .cont, .formcomp {
        padding-left: 0;
    }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 25%;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 50%;
  overflow: hidden;
}

 /* Donate page */

.donate-text, .donate-texth {
    padding-left: 10px;
    margin: 5px 0;
}

.donate-text {
    text-indent:25px;
    text-align: left;
}

@media only screen and (min-width: 768px) {
    .donate-text {
        text-indent: 50px;
    }
}

@media only screen and (min-width: 1000px) {
    .donate-text, .donate-texth {
        margin:5px 150px;
    }
}
.donate-links div h3{
    font-family: 'Catamaran', serif;
    font-size: 24px;
    color: #111;
    line-height: 100px;
    text-align: center;
    font-weight: 600;   
    text-transform: uppercase;
}

.donate-links div {
    margin: 16px 16px 0;   
    width: calc(100%-32px);
    height: 100px;
    background-color: #f2f2f2;
}

@media only screen and (min-width: 1440px) {
    .donate-links {
        margin-right: 200px;
        margin-left: 200px;
    }
}



@media only screen and (min-width: 1000px) {
    .donate-links div {
        width: 150px;
        height: 150px;
        display: inline-block;
    }

    .donate-text {
        margin: 0 100px;
        text-align: center;
    }
}

/*Comp*/

.signup {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/*.signupb {
    background-color: #f2f2f2;
    border:2px solid #111;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.signupb, a {
    color:#111;
}*/

@media only screen and (min-width: 1000px) {
    .signup {
        margin-bottom: 5px;
        margin-top: 30px;
    }
}

.compwt {
    font-size: 18px;
    text-align: left;
    width: 355px;
    margin:auto;
    text-indent: 50px; 
}

.compim {
    width:355px;
    height:227px;
    padding:12px;
    padding-right:0px;
}

@media only screen and (min-width: 1000px) {
    .compwt {
        margin:0;
        width: 400px;
    }
    .compim {
        margin-top:100px;
        width:400px;
        height:256px;
        padding:0;
    }

    .compa {
        display: flex; 
        justify-content: space-around;
    } 
}

/* Comp pg */

.ml {
    padding: 0;
    list-style: none;
    margin-left: 100px;
}

@media only screen and (min-width: 768px) {
    .ml {
        margin-left: 0;
    }
}

.ml li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
    padding-top: 50px;
}


.ml li a {
    color: #595959;
    font-size: 25px;
}
.ml li a:hover {
    color: #6B6B6B;
}

/* comp signup pg*/

.signb1 {
    cursor: pointer;
}

.EOP, .EOPG, .NOP {
    margin-bottom: 50px;
}


.bac {
    font-size: 70px;
    text-align: center;
}

